.form_input{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #333333;
    color: #FFFFFF;
    background-color: black;
    max-width: 250px;
    width: 100%;  
}
.search_btn{
    background-color: #2196f3;
    width: fit-content;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 15px;
    margin: 5px 5px 0 0;
    transition: .3s;
    text-decoration: none;  
}
.auto_complete_container{
    /* outline: red solid; */
    width: 50%;
}
.load_container{
    padding: 10px;
}
.result_container{
    /* outline: rgb(60, 255, 0) solid; */
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 50%;
    max-width: 266px;
}
.result_not_found{
    padding: 10px;
}
.result_item{
    /* outline: rgb(182, 9, 145) solid; */
    padding: 10px;
    cursor: pointer;
}
.result_item:hover{
    background-color: rgba(255, 255, 255, 0.205);
}