.container_1 {
    display: flex;
    flex-direction: column;
}

.container_2{
    margin: 5px 0 0 0;
}

.blue_btn {
    background-color: #2196F3;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0 10px 0 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
}