.home{
  /* border: red solid; */
}
.home.title{
  text-align: center;
}
.home.btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width:800px) {
  .home.title{
    font-size:medium;
  }
  .home.about{
    font-size: small;
  }
}